<div class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <h1>
                أعمالى الفنية 
            </h1>
            
        </div>
        <div class="col-md-6 text-end">
            <button class="btn btn-success">
                <i class="fas fa-plus"></i>
                أضافه اعمال فنية


            </button>
        </div>
    </div>
    <div class="row not-found" *ngIf="arts.length === 0">
        <img src="../../../../assets/images/People visiting history museum-amico.png" alt="" srcset="">
        <h2>لا يوجد اعمال فنية</h2>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 col-sm-6 col-xs-12 mb-2">
            <img class="editPic" src="../../../../assets/images/Iconly-Light-Edit.png" alt="" srcset="">
            <img src="../../../../assets/images/1.png" alt="" srcset="">
                <div class="row fs-1 mt-2">
                    <div class="col-md-6 ">اللوحه العظمة</div>
                    <div class="col-md-6 text-end">
                        <span class="badge badge-success">
                            اصلي
                        </span>
                    </div>
                </div>
                <div class="row  mt-2">
                    <div class="col-md-6 "> ١٥٠ ريال</div>
                    <div class="col-md-6 text-end">
                     الابعاد  : ١٦٠ x ١٢٠ سم
                    </div>
                </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-2">
            <img class="editPic" src="../../../../assets/images/Iconly-Light-Edit.png" alt="" srcset="">

        <img src="../../../../assets/images/2.png" alt="" srcset="">
        <div class="row fs-1 mt-2">
            <div class="col-md-6 ">اللوحه العظمة</div>
            <div class="col-md-6 text-end">
                <span class="badge badge-success">
                    اصلي
                </span>
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col-md-6 "> ١٥٠ ريال</div>
            <div class="col-md-6 text-end">
             الابعاد  : ١٦٠ x ١٢٠ سم
            </div>
        </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-2">
            <img class="editPic" src="../../../../assets/images/Iconly-Light-Edit.png" alt="" srcset="">

        <img src="../../../../assets/images/3.png" alt="" srcset="">
        <div class="row fs-1 mt-2">
            <div class="col-md-6 ">اللوحه العظمة</div>
            <div class="col-md-6 text-end">
                <span class="badge badge-success">
                    اصلي
                </span>
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col-md-6 "> ١٥٠ ريال</div>
            <div class="col-md-6 text-end">
             الابعاد  : ١٦٠ x ١٢٠ سم
            </div>
        </div>
        </div>
        
    </div>
    <!-- <div class="row">
        <div class="col-4">
            <img src="../../../../assets/images/1.png" alt="" srcset="">

        </div>
        <div class="col-4">
        <img src="../../../../assets/images/2.png" alt="" srcset="">

        </div>
        <div class="col-4">
        <img src="../../../../assets/images/3.png" alt="" srcset="">

        </div>
        
    </div> -->
    
</div>
