
    <!-- Sidebar -->
    <div id="sidebar">

      <ul class="nav">
        <li>
          <a href="#">
            <i class="fab fa-acquisitions-incorporated"></i> اعمالى الفنية
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-acquisitions-incorporated"></i> الطلبات
          </a>
        </li>
        <li>
          <a href="#">
           <i class="fab fa-acquisitions-incorporated"></i> المبيعات
          </a>
        </li>
        <li>
          <a href="#">
           <i class="fab fa-acquisitions-incorporated"></i> الملف الشخصى
          </a>
        </li>
        <li>
          <a href="#">
           <i class="fab fa-acquisitions-incorporated"></i> المحفظة
          </a>
        </li>
        <li>
          <a href="#">
           <i class="fab fa-acquisitions-incorporated"></i> الاشعارات
          </a>
        </li>
        <li>
          <a href="#">
           <i class="fab fa-acquisitions-incorporated"></i> الشروط والاحكام
          </a>
        </li>
        <li>
          <a href="#">
           <i class="fab fa-acquisitions-incorporated"></i> تسجيل الخروج
          </a>
        </li>
      </ul>
    </div>

  